/*  this is the main css stylesheet for justindambruck.github.io/project-2 /*

/* Typograpgy */
:root{
--serif:'Joti One', serif ;
--sans:'Concert One',sans-serif;
}


/* Color */


/* navigation /*


/**** Layout */
section {
    Width: 1000px;
}
#first-section{
background-color: red;
font-family: var(--sans);
}

#second-section{
    background-color: blue;
font-family: var(--serif);
}
#third-section{
    background-color: green;
}
.flex{
    display:flex;
    flex-direction: row;
}

.chunk{
    background-color: rgb(222, 31, 31);
}

.image{
    width: 500px;
    height:300px;
    background-color: aqua;
}

/*******/
Nav{
display: flex;
width: 100px;
justify-content:space-between;
background-color: rgb(237, 133, 7);
padding: 20px 0;
}

Nav ul{ 
    list-style-type: none;
    display: contents;
}

#thom-holland img {
  width: 400px;   
}

#toby-maguire img{
    width: 400px;
    
}

#andrew-garfield img {
width: 400px;
background-color: lime;

}

